:root {
    --background__color--main: black;
    --background__color--secondary:#EAEAEB;
    --font__color--main: #21A862;
    --font__main: "Montserrat", sans-serif;
    --font__title: "Fleur De Leah", cursive;
}

/**BODY**/

body {
    background-color: var(--background__color--main);
    color: var(--font__color--main);
    font-family: var(--font__main);
    width: 100%;
    max-height: 200dvh;
}

/*HEADER*/

h1 {
    font-family: var(--font__title);
    font-size: 2rem;
    font-weight: 400;
}

/*MAIN*/

.calendrier {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: auto;
}

div {
    background-color: var(--background__color--secondary);
}

.contenu {
}

/*FOOTER*/