:root {
    --background__color--main: black;
    --background__color--secondary:#EAEAEB;
    --font__color--main: #21A862;
    --font__main: "Montserrat", sans-serif;
    --font__title: "Fleur De Leah", cursive;
}

/**BODY**/

body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(./images/christmasTreeNeon.jpg);
    background-position: center;
    background-size: cover;
    color: var(--font__color--main);
    font-family: var(--font__main);
}

/*HEADER*/

h1 {
    font-family: var(--font__title);
    font-size: 2rem;
    font-weight: 400;
}

/*MAIN*/

main {
    width: 90%;
    margin: 50px auto;
}

.calendrier {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    perspective: 1000px;
}

.case {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
}

.case.flip {
    transform: rotateX(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back {
    background: var(--background__color--secondary);
    color: var(--font__color--main);
    transform: rotateX(180deg);
    font-family: var(--font__main);
    text-align: center;
    padding: 10px;   
}

.locked {
    filter: grayscale(1);
    cursor: not-allowed;
    opacity: 0.5;
}
/*FOOTER*/