:root {
    --background__color--main: black;
    --background__color--secondary:#EAEAEB;
    --font__color--main: rgb(152, 253, 191);
    --font__main: "Montserrat", sans-serif;
    --font__title: "Fleur De Leah", cursive;
    --font__numero: "Engagement", cursive;
}

/**BODY**/

body {
    min-height: 100dvh;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(./images/christmasTreeNeon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(161, 255, 29);
    font-family: var(--font__main);
}

/*HEADER*/
header {
    display: block;
    justify-items: center;
}
h1 {
    font-family: var(--font__title);
    font-size: 5rem;
    font-weight: 400;
    color: rgb(161, 255, 29);
}

/*MAIN*/

main {
    width: 90%;
    margin: 50px auto;
}

.calendrier {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    perspective: 1000px;
}

.case {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
}

.case.flip {
    transform: rotateX(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.numero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font__numero);
    font-size: 4rem;
    font-weight: 500;
    color: rgb(161, 255, 29);
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.8),
        -1px -1px 2px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.back {
    background: radial-gradient(black 75%, rgb(0, 128, 75));
    color: var(--font__color--main);
    transform: rotateX(180deg);
    font-family: var(--font__main);
    text-align: center;
    padding: 10px;   
}

.locked {
    filter: grayscale(1);
    cursor: not-allowed;
    opacity: 0.5;
}

.case-25.locked {
    filter: none;
    cursor: not-allowed;
    opacity: 1;
}
/*FOOTER*/

footer {
    display: block;
    justify-items: center;
    color: rgb(78, 78, 78);
    padding: 20px;
}